.tariffCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 19px;
    width: 33%;
    height: 540px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.tariffHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 132px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.tariffHeader :nth-child(1) {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "inter-medium";
}

.tariffHeader :nth-child(2) {
    font-size: 18px;
    font-family: "inter-regular";
}

.tariffInfo {
    margin: 0 0 10px 30px;
    width: 70%;
}

.tariffImg {
    margin: 10px 10px 20px 0;
    width: 96px;
}

.currentTariffWrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.currentTariffLabel {
    background-color: rgba(59, 165, 224, 1);
    margin: 12px 10px 10px 0;
    padding: 4px 0;
    width: 134px;
    text-align: center;
    font-family: "inter-regular";
    font-size: 14px;
    border-radius: 10px;
}

.emptyLabel {
    width: 100%;
    height: 48px;
}

.prices {
    display: flex;
    flex-direction: row;
    font-family: "inter-medium";
    align-items: center;
    margin: 0 0 0 10px;
}

.prices :nth-child(1) {
    margin-bottom: 10px;
    font-size: 30px;
}

.prices :nth-child(2) {
    font-size: 25px;
    text-decoration: line-through;
    opacity: 0.5;
}

.prices div {
    margin-left: 10px;
}

.creditPrice {
    margin: 0 0 30px 20px;
    font-family: "inter-regular";
    font-size: 18px;
}

.emptyCreditLabel {
    width: 100%;
    height: 55px;
}

.detailsTitle {
    margin: 0 0 10px 20px;
    font-family: "inter-medium";
    font-size: 20px;
}

.detailsWrapper {
    margin: 0 0 55px 20px;
    display: flex;
    flex-direction: column;
    font-family: "inter-regular";
    font-size: 18px;
}

.detailsText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkToAccount {
    margin: 0 auto;
    padding: 20px 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
    max-height: 60px;
    font-family: "inter-regular";
    font-size: 18px;
    background-color: rgba(210, 210, 210, 1);
    border-radius: 5px;
}

.linkToAccount :nth-child(n) {
    text-decoration: none;
}

.aboutTariff {
    margin: 0 auto;
    padding: 20px 0px;
    margin-bottom: 20px;
    text-align: center;
    width: 90%;
    max-height: 60px;
    font-family: "inter-regular";
    font-size: 18px;
    background-color: var(--second-color-3);
    color: var(--main-color-2);
    border-radius: 5px;
}

.aboutTariff :nth-child(n) {
    text-decoration: none;
    color: var(--main-color-3);
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .detailsWrapper {
        margin: 0 0 55px 10px;
        font-family: "inter-regular";
        font-size: 13px;
    }

    .linkToAccount {
        font-size: 14px;
    }

    .aboutTariff {
        font-size: 14px;
    }

    .emptyCreditLabel {
        width: 100%;
        height: 75px;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .tariffCard {
        width: 93%;
        height: 512px;
        margin: 28px 20px;
    }

    .creditPrice {
        font-family: "inter-regular";
        font-size: 18px;
        margin: 0 28px 37px 30px;
    }

    .prices {
        margin: 20px 0 0 20px;
    }

    .prices div {
        margin: 0 10px;
    }

    .currentTariffLabel {
        display: none;
    }

    .emptyLabel {
        display: none;
    }

    .detailsTitle {
        font-size: 18px;
        margin: 0 0 10px 30px;
    }

    .detailsWrapper {
        font-size: 16px;
        margin: 0 0 39px 25px;
    }

    .detailsText {
        margin: 0 0 5px 0;
    }

    .linkToAccount {
        margin: 0 auto;
        padding: 15px 0px;
        margin-bottom: 20px;
        width: 90%;
    }

    .aboutTariff {
        margin: 0 auto;
        padding: 15px 0px;
        margin-bottom: 20px;
        width: 90%;
        max-height: 60px;
        font-family: "inter-regular";
    }
}